*{
  font-family:'Times New Roman', Times, serif ;
}
body{
  padding: 60px ;
  background-color:rgb(121, 55, 55);
}

input{
  color: grey;
  font-size: 1.rem;
  width: 100%;
}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content:space-between;
  justify-content: center;
  align-items:center;
  margin: 10px;
}
.card {
  background-color:rgb(146, 41, 41);
  align-content: center;
  border: 2px solid rgb(211, 84, 84);
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  margin: 10px;

}
.card p {
  background-color: rgb(169, 169, 170);
  padding: 5px;
  text-align: center;
}
.card img{
  max-height: 200px;
  width: 400px;
  height: 400px;
}